*{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

.banner{
    width: 100%;
	height: 100vh;
	background-image: url(HD-wallpaper-blue-sea-and-purple-sky-sea-sky-nature.jpg);
	background-size: cover;
	background-position: center;
}

.nav{
    width: 80%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.50s;
}

.nav ul li a:hover{
    color: red;
    transform: 0.05s;
}



.content {
    width: 100%;
    position: absolute;
    top: 30%;
    text-align: center;
    color: white;
}

.content h1{
    font-size: 70px;
    margin: 50px;
    transition: 0.50s;
}

.content h1:hover{
    -webkit-text-stroke: 1px white;
    color: transparent;

}

.content p
{
    font-size: 30px; 
    transition: 0.50s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px;
}

.content p:hover{
    color: red;    
}

.content button {
    border-radius: 30px;
    background-color: transparent;
    size: 30px;
    margin: 20px;
    border-color: red;
    transition: 0.30s;
    width: 200px;
    padding: 15px 0px;
    cursor: pointer;
}

.content button:hover {
    background-color: red;
    border-color: white;
}

.content button a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: 0.20s;
    
}

